@{
        ViewData["Title"] = "About";
        Layout = "EshopLayout";
}

<header>
        <div class="header">
                <div class="header-top"></div>
                <div class="header-bottom">
                        <div class="header-info">
                                <div class="header-info__logo"></div>
                                <a href="#" class="header-info__catalog"><span>Каталог</span></a>
                        </div>
                        <div class="header-list">
                                <div class="header-list__image"></div>
                                <a href="#" class="header-list__cart"><span>Корзина</span></a>
                                <a href="#" class="header-list__profile"><span class="username">Данил</span></a>
                        </div>
                </div>
        </div>
</header>
<hr />
<main>
        <section class="card">
                <div class="container">
                        <h1 class="card__title">
                                6.5" Смартфон Samsung Galaxy A53 5G 256 ГБ белый
                        </h1>
                        <div class="card-content">
                                <img src="~/assets/images/Telephone.jpg"
                                     alt="phone"
                                     class="card__img" />
                                <p class="card__desc">
                                        8x(2.4 ГГц, 2 ГГц), 8 Гб, 2 SIM, Super AMOLED,
                                        2400x1080, камера 64+12+5+5 Мп, NFC, 5G, GPS, 5000
                                        мА*ч
                                        <a href="#" class="card__desk_link">подробнее</a>
                                </p>
                                <div class="card__price">
                                        <p class="price">33 999 ₽</p>
                                </div>
                                <button type="button" class="button__buy">
                                        Купить
                                </button>
                                <p class="card__type">
                                        <span class="type">Тип продукта:</span> телефоны
                                </p>
                        </div>
                </div>
        </section>
</main>