@using Eshop.Data
@model IEnumerable<Eshop.Models.Product>

@{
	Layout = "MainPageLayout";
	int itemPosition = 0;
}
<div class="container my-4  text-white">
	<div class="row">
		<div class="col-6 p-3"> <img src="~/assets/images/MainBoard.jpg" alt="MainBoard"></div>
	</div>
</div>
<div class="container ">
	<div class="row">
		<div class="col-md-12">

			<h2>Featured <b>Products</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="row">

							@{

								foreach (var item in Model)
								{
									itemPosition++;
									<div class="col-sm-3">
										<div class="thumb-wrapper">
											<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
											<div class="img-box">
												<img src="~/assets/images/Telephone.jpg" class="img-responsive" alt="">
											</div>
											<div class="thumb-content">
												<h4>@item.Name</h4>
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<p class="item-price"><b>$@item.Price</b></p>
												<a href="#" class="btn btn-primary">Add to Cart</a>
											</div>
										</div>
									</div>
									if (itemPosition == 4)
									{
										break;
									}
								}

							}


						</div>
					</div>

					<div class="item">
						<div class="row">
							@{
								itemPosition = 0;

								foreach (var item in Model)
								{
									itemPosition++;
									if (itemPosition > 4)
									{
										<div class="col-sm-3">
											<div class="thumb-wrapper">
												<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
												<div class="img-box">
													<img src="~/assets/images/Telephone.jpg" class="img-responsive" alt="">
												</div>
												<div class="thumb-content">
													<h4>@item.Name</h4>
													<div class="star-rating">
														<ul class="list-inline">
															<li class="list-inline-item"><i class="fa fa-star"></i></li>
															<li class="list-inline-item"><i class="fa fa-star"></i></li>
															<li class="list-inline-item"><i class="fa fa-star"></i></li>
															<li class="list-inline-item"><i class="fa fa-star"></i></li>
															<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
														</ul>
													</div>
													<p class="item-price"><b>$@item.Price</b></p>
													<a href="#" class="btn btn-primary">Add to Cart</a>
												</div>
											</div>
										</div>
									}
								}


							}
							@*



							<div class="col-sm-3">
							<div class="thumb-wrapper">
							<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
							<div class="img-box">
							<img src="/examples/images/products/play-station.jpg" class="img-responsive" alt="">
							</div>
							<div class="thumb-content">
							<h4>Sony Play Station</h4>
							<p class="item-price"><strike>$289.00</strike> <span>$269.00</span></p>
							<div class="star-rating">
							<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
							</ul>
							</div>
							<a href="#" class="btn btn-primary">Add to Cart</a>
							</div>
							</div>
							</div>
							<div class="col-sm-3">
							<div class="thumb-wrapper">
							<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
							<div class="img-box">
							<img src="/examples/images/products/macbook-pro.jpg" class="img-responsive" alt="">
							</div>
							<div class="thumb-content">
							<h4>Macbook Pro</h4>
							<p class="item-price"><strike>$1099.00</strike> <span>$869.00</span></p>
							<div class="star-rating">
							<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
							</ul>
							</div>
							<a href="#" class="btn btn-primary">Add to Cart</a>
							</div>
							</div>
							</div>
							<div class="col-sm-3">
							<div class="thumb-wrapper">
							<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
							<div class="img-box">
							<img src="/examples/images/products/speaker.jpg" class="img-responsive" alt="">
							</div>
							<div class="thumb-content">
							<h4>Bose Speaker</h4>
							<p class="item-price"><strike>$109.00</strike> <span>$99.00</span></p>
							<div class="star-rating">
							<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
							</ul>
							</div>
							<a href="#" class="btn btn-primary">Add to Cart</a>
							</div>
							</div>
							</div>
							<div class="col-sm-3">
							<div class="thumb-wrapper">
							<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
							<div class="img-box">
							<img src="/examples/images/products/galaxy.jpg" class="img-responsive" alt="">
							</div>
							<div class="thumb-content">
							<h4>Samsung Galaxy S8</h4>
							<p class="item-price"><strike>$599.00</strike> <span>$569.00</span></p>
							<div class="star-rating">
							<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star"></i></li>
							<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
							</ul>
							</div>
							<a href="#" class="btn btn-primary">Add to Cart</a>
							</div>
							</div>
							</div>*@
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/iphone.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Apple iPhone</h4>
										<p class="item-price"><strike>$369.00</strike> <span>$349.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/canon.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Canon DSLR</h4>
										<p class="item-price"><strike>$315.00</strike> <span>$250.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/pixel.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Google Pixel</h4>
										<p class="item-price"><strike>$450.00</strike> <span>$418.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="thumb-wrapper">
									<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
									<div class="img-box">
										<img src="/examples/images/products/watch.jpg" class="img-responsive" alt="">
									</div>
									<div class="thumb-content">
										<h4>Apple Watch</h4>
										<p class="item-price"><strike>$350.00</strike> <span>$330.00</span></p>
										<div class="star-rating">
											<ul class="list-inline">
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											</ul>
										</div>
										<a href="#" class="btn btn-primary">Add to Cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>