@model Eshop.Models.User
@{
	ViewData["Title"] = "SignIn";
	Layout = "MainPageLayout";
}
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h1 class="text-center">Login</h1>
			<form asp-action="SignIn">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Name" for="username">Username</label>
					<input asp-for="Name" type="text" class="form-control" id="username" placeholder="Enter username">
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password" for="password">Password</label>
					<input asp-for="Password" type="password" class="form-control" id="password" placeholder="Enter password">
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
			<div class="text-center mt-2">
				<a href="/Account/Register" class="btn btn-secondary">Create an account</a>
			</div>
		</div>
	</div>
</div>
@if (ViewBag.Message != null)
{
	<script type="text/javascript">
		window.onload = function () {
		    alert("@ViewBag.Message");
		};
	</script>
}

@*<div>
	<a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
